*{
    transition: 0.3s;
}
.content{
    box-shadow: 0 1px 20px 0 rgb(46 61 73 / 20%);
    margin: 20px 120px;
    padding: 20px; 
    box-sizing: border-box;
    text-align: justify;
    background-color: #fff;
   
}
@media (min-width:0px) and (max-width: 767px) {
    .content{
        margin: 0;
    }
    .content h1{
        margin-left:0;
        font-size: 1.3em;
    }
    .content p{
        font-size: 1em;
        color: aqua;
    }
}
.content .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    
  
}
.content h1{
    width: 100%;
    margin-left: 79px;
    color:#10375c
}
.content p{
    max-width: 800px;
    padding: 10px;
    color:#10375c;
    margin:  auto 70px;
    line-height: 2em;
    font-size: 1.3em;
}
@media (max-width: 767px) {
    .content{
        margin: 0;
    }
    .content h1{
        margin-left:0;
        font-size: 1.3em;
    }
    .content p{
        font-size: 1em;
        margin: 0;
        padding: 10px;
    }
}
.img-size{
    width: 75%;
    height: 300px;
    text-align: center;
    border: 2px solid #ddd;
    outline:2px #fff;
    object-fit: cover;
    object-position: center;
}
